html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game {
  width: 500px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#prize {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -4px;
}

#prize > img {
  margin-top: 20px;
}